* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --bg-color: black;
  --second-bg-color: #131313;
  --main-color: #41b06e;
  --text-color: white;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3ms ease;
}

.logo:hover {
  transform: scale(1.1);
}
.logo span {
  text-shadow: 0 0 25px var(--main-color);
}
.normal-text {
  color: white;
  text-shadow: none;
}
.navbar a {
  font-size: 1.8rem;
  margin-left: 4rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

.top-container {
  padding-top: 300px;
  margin: 0px;
  text-align: center;
  font-size: 2rem;
  color: white;
}

h1 {
  font-family: "Roboto", sans-serif;
  color: #8decb4;
  text-align: center;
  font-size: 6rem;
}
h3 {
  text-shadow: 0 0px 5px var(--main-color);
}
.text-animation {
  font-family: "Poppins";
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
  padding-top: 25px;
}

.text-animation span {
  position: relative;
  text-align: left;
  
}

.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}

.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}

@keyframes words {
  0%,
  20% {
    content: "FullStack Dev";
  }
  21%,
  40% {
    content: "Web Designer";
  }
  41%,
  60% {
    content: "Pen Tester";
  }
  61%,
  80% {
    content: "Web Developer";
  }
}

@keyframes typing {
  10%,
  15%,
  20%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
