* {
  margin: 0;
  padding: 0;
}

.top-container {
  background-color: #22a699a4;
  padding-top: 400px;
  margin: 0px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: white;
}

.airplane {
  position: absolute;
  top: 100px;
  right: 200px;
  rotate: 15deg;
}
.cloud-1 {
  position: absolute;
  top: 200px;
  left: 200px;
}
.cloud-2 {
  position: absolute;
  top: 100px;
  right: 500px;
}
h1 {
  font-family: "Roboto", sans-serif;
  color: #f2be22;
  text-align: center;
  font-size: 6rem;
  text-shadow: 3px 3px #f24c3d;
}
span {
  text-decoration: underline;
}
p {
  padding-bottom: 20px;
}
